body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

  /*reset of browser's default value*/
  margin: 0;
  padding: 0;
}

header {    
  position: fixed;
  width: 100%;
  top: 0;
  height: 69px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav {
    display: flex;
    align-items: center;
}

li.btn {
  text-decoration: underline;
  list-style-type: none;
  display: inline-flex; 
}

a {
  color: seashell;
  padding: 0 20px 0 20px;
  font-size: 30px;
}

#mission {
  height: 700px;
  max-width: 1200px;
  display: flex;
  background-image: url(../img/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1 1 auto;
  margin: 40px auto 40px auto;
}

.text {
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  height: 150px;
  width: 100%;
}

.pic2 {
  display: inline-flex;
  height: 200px;
  width: 300px;
  flex-wrap: wrap;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  padding: 30px 10px;
  flex-direction: column;
}

figcaption {
  padding: 10px;
}

#Locations {
  display: block;
  height: 500px;
  max-width: 1200px;
  margin: 40px auto 40px auto;
  background-image: url(../img/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  padding-top: 10px;
}

.locations img {
  max-width: 100%;
  height: auto;
}

.textlocations {
  text-align: center;
}

.containersquare {
    display: flex;
  justify-content: space-around;
}

.square {
  background-color: black;
  padding: 15px 40px;
  width: 300px; 
  box-sizing: border-box;
}

.contact {
  height: 200px;
}

footer p {
  display: flex;
  justify-content: left;
  padding-left: 20px;
}
